#part1 {
  display: none;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  &.open {
    display: flex;
  }
}

#emoji-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.emoji-button {
  width: 128px;
  font-size: 32px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.6);
  &:hover:not(:disabled) {
    background: rgba(255, 255, 255, 0.8);
  }
  &:disabled {
    background: rgba(255, 255, 255, 0.3);
    cursor: auto;
  }
}
