@media (prefers-color-scheme: dark) {
  /* Use white color for all text, and tint the fallback background gradient */
  body {
    color: white;

    background: rgb(39, 29, 59);
    background: linear-gradient(
      90deg,
      rgba(39, 29, 59, 1) 0%,
      rgba(11, 11, 77, 1) 49%,
      rgba(6, 39, 46, 1) 100%
    );

    --main-bg: rgba(0, 0, 0, 0.5);
    --card-bg: rgba(0, 0, 0, 0.4);
    --card-bg-hover: rgba(0, 0, 0, 0.6);
    --subcard-bg: rgba(0, 0, 0, 0.3);

    --fallback-main-bg: #202020;
    --fallback-card-bg: #303030;
    --fallback-subcard-bg: #404040;
  }

  a {
    color: white;
  }

  button {
    color: white;
    border-color: white;
  }

  /* Tint the canvas a bit */
  canvas {
    filter: brightness(0.8);
  }

  .subcard {
    box-shadow: none;
  }

  .line {
    border-color: white;
  }
}
